.ReadingView {
    width: 100%;
    overflow: auto;
    position: relative;
}

.ScrollContainer {
    overflow: auto;
    position: relative;
    height: 100%;
}

.ContentPane {
    padding: 0.5in;
    column-count: 1;
    margin: 0 auto;

}