.ReadingView {
    overflow: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.ScrollContainer {
    overflow: auto;
    position: relative;
    height: 100%;
    margin-left: 0.5in;
}

.ContentPane {
    column-count: 1;
    margin: 0 auto;
}

.PleaseChoose {
    margin-top: 8px;
    margin-left: 20px;
}

.LoadingContainer {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}