.ReadingView {
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContentPane {
    background-color: white;
    padding: 50px;
    line-height: normal;
    column-count: 1;
}