

.OuterBox {
    border: 1px solid grey;
    padding: 10px;
    padding-top: 0;
}

.Heading {
    display: flex;
    justify-content: space-around;
    align-items: center
}

.Recipes {
    display: flex;
    gap: 10px;
    max-width: 395px;
    flex-wrap: wrap;
}