.RulerOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    margin-left: 0.5in;
    pointer-events: none;
}

.UnderlineRuler {
    width: 100%;
    height: 1px;
    position: absolute;
    z-index: 10;
    margin-left: 0.5in;
    top: 25%;
    border-top: black 2px solid;
}